Source: qt4-headless
Section: libs
Priority: optional
Maintainer: David Boddie <david.boddie@met.no>
Build-Depends: debhelper (>= 8.9.9),
               dpkg-dev (>= 1.16.1),
               flex,
               libfreetype6-dev,
               libglib2.0-dev,
               libpng12-dev,
               zlib1g-dev
Standards-Version: 3.9.2
Homepage: http://www.qt-project.org

Package: libqtcore4-headless
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt 4 core module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtCore module contains core non-GUI functionality.

Package: libqtgui4-headless
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fontconfig
Description: Qt 4 GUI module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtGui module extends QtCore with GUI functionality.

Package: libqt4-network-headless
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt 4 network module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtNetwork module offers classes that allow you to write TCP/IP clients and
 servers. It provides classes to make network programming easier and portable.

Package: libqt4-svg-headless
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt 4 SVG module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtSvg module provides classes for displaying the contents of SVG files.
 .
 Scalable Vector Graphics (SVG) is a language for describing two-dimensional
 graphics and graphical applications in XML.

Package: libqt4-xml-headless
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt 4 XML module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtXml module provides a stream reader and writer for XML documents,
 and C++ implementations of SAX and DOM.

Package: libqt4-headless-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libqtcore4-headless (= ${binary:Version}),
 libqt4-network-headless (= ${binary:Version}),
 libqtgui4-headless (= ${binary:Version}), libqt4-svg-headless (= ${binary:Version}),
 libqt4-xml-headless (= ${binary:Version}),
 qt4-qmake-headless (= ${binary:Version})
Description: Qt 4 development files
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the header development files and development programs
 used for building Qt 4 applications.

Package: libqt4-headless-dbg
Priority: extra
Architecture: any
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends},
 libqtcore4-headless (= ${binary:Version})
Description: Qt 4 library debugging symbols
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the debugging symbols for the Qt 4 libraries.

Package: qt4-qmake-headless
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt 4 qmake Makefile generator tool
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains Qt 4 qmake (qmake-qt4), a tool that helps simplify
 the build process for development project across different platforms.
 qmake automates the generation of Makefiles so that only a few lines of
 information are needed to create each Makefile. qmake can be used for any
 software project, whether it is written using Qt or not.
 .
 Qt 4 qmake requires a platform and compiler description file which contains
 many default values used to generate appropriate Makefiles.
 .
 This package contains also these platform specifications.
