#!/usr/bin/make -f

build:
	./configure -confirm-license \
	            -depths 16,32 \
	            -embedded \
                    -qconfig wms \
	            -exceptions \
	            -fast \
	            -glib \
	            -iconv \
	            -largefile \
	            -nis \
	            -no-accessibility \
	            -no-audio-backend \
	            -no-cups \
	            -no-dbus \
	            -no-declarative \
	            -no-declarative-debug \
	            -no-gfx-linuxfb \
	            -no-gfx-multiscreen \
	            -no-javascript-jit \
	            -nomake demos \
	            -nomake docs \
	            -nomake examples \
	            -nomake tests \
	            -nomake tools \
	            -no-multimedia \
	            -no-opengl \
	            -no-phonon \
	            -no-phonon-backend \
	            -no-qt3support \
	            -no-script \
	            -no-scripttools \
	            -no-separate-debug-info \
	            -no-sql-ibase \
	            -no-sql-sqlite2 \
	            -no-webkit \
	            -no-xmlpatterns \
	            -opensource \
	            -openssl \
	            -optimized-qmake \
	            -pch \
	            -prefix-install \
	            -prefix /opt/qt4-qws \
	            -release \
	            -rpath \
	            -shared \
	            -stl \
	            -svg \
	            -system-freetype \
	            -system-libjpeg \
	            -system-libpng \
	            -system-libtiff \
	            -system-zlib \
	            $(extra_configure_opts)

clean:
	$(MAKE) clean

install: build
	mkdir $(CURDIR)/debian/tmp
	$(MAKE) INSTALL_ROOT=$(CURDIR)/debian/tmp install

binary: binary-arch binary-indep

binary-indep:
	mkdir $(CURDIR)/debian/tmp/DEBIAN
	dpkg-gencontrol
	dpkg --build debian/tmp

binary-arch: build install

.PHONY: build clean binary-indep binary-arch binary install configure
