#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

build:
	dh_quilt_patch
	./configure -confirm-license \
	            -depths 16,32 \
	            -qpa dummy \
	            -qconfig wms \
	            -exceptions \
	            -fast \
	            -glib \
	            -iconv \
	            -largefile \
	            -nis \
	            -no-accessibility \
	            -no-audio-backend \
	            -no-cups \
	            -no-dbus \
	            -no-declarative \
	            -no-declarative-debug \
	            -no-gfx-linuxfb \
	            -no-gfx-multiscreen \
	            -no-javascript-jit \
	            -nomake demos \
	            -nomake docs \
	            -nomake examples \
	            -nomake tests \
	            -nomake tools \
	            -no-multimedia \
	            -no-opengl \
	            -no-phonon \
	            -no-phonon-backend \
	            -no-qt3support \
	            -no-script \
	            -no-scripttools \
	            -no-separate-debug-info \
	            -no-sql-ibase \
	            -no-sql-sqlite2 \
	            -no-webkit \
	            -xmlpatterns \
	            -opensource \
	            -openssl \
	            -optimized-qmake \
	            -no-pch \
	            -prefix-install \
	            -prefix /usr \
	            -bindir "/usr/bin" \
	            -libdir "/usr/lib/qt4-headless" \
	            -docdir "/usr/share/qt4-headless/doc" \
	            -headerdir "/usr/include/qt4-headless" \
	            -datadir "/usr/share/qt4-headless" \
	            -plugindir "/usr/lib/qt4-headless/plugins" \
	            -importdir "/usr/lib/qt4-headless/imports" \
	            -translationdir "/usr/share/qt4-headless/translations" \
	            -sysconfdir "/etc/xdg" \
	            -release \
	            -rpath \
	            -shared \
	            -stl \
	            -svg \
	            -system-freetype \
	            -no-libjpeg \
	            -no-libmng \
	            -system-libpng \
	            -no-libtiff \
	            -system-zlib \
	            $(extra_configure_opts)

clean:
	dh_testdir
	dh_testroot
	[ ! -f Makefile ] || $(MAKE) clean
	dh_quilt_unpatch
	dh_clean

install: build
	mkdir $(CURDIR)/debian/tmp
	$(MAKE) INSTALL_ROOT=$(CURDIR)/debian/tmp install

binary: binary-arch binary-indep

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	LD_LIBRARY_PATH=$(CURDIR)/debian/tmp/usr/lib dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary-indep binary-arch binary install configure
